@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(37, 34, 34);
    color: aliceblue;
}
body li a{
    color: blueviolet;
}
.total{
    display: flex;
    padding: 4em;
    width: 1200px;
}
.nav-link{
    color: blueviolet;
    margin: 15px;
    transition: 0.7s;
}
.nav-link:hover{
    color: rgb(235, 227, 243);
    transition: 0.7s;
}
.head-off{
    background-color: rgb(20, 19, 19);
    opacity: 0.5;
    display: flex;
    justify-content: space-around;
}

.fade-in-element {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}
.card{
    background-color: rgb(148, 146, 146);;
    border-radius: 1em;
    box-shadow: 5px 5px 10px blueviolet;
    padding: 1em;
    width: 500px;
    margin: 4em;
}
#escuro{
    color: black;
}
#imagem{
    border-radius: 3em;
    box-shadow: 5px 5px 10px blueviolet;
}
.btn{
    background-color: blueviolet;
    color: aliceblue;
}
.btn:hover{
    background-color: rgb(135, 60, 206);
}
.menu-cad{
    padding: 12px;
    width: 120px;
    background-color: blueviolet;
    color: aliceblue;
    transition: 0.7s;
}
.menu-cad:hover{
    color: black;
    background-color: rgb(135, 60, 206);
    transition: 0.7s;
}
.footer{
    margin-left: 480px;
}


/*responsividade*/


@media (max-width:480px){

}

@media (min-width:507px) and (max-width:767px){
    .head-off{
        min-width: auto;
    }
    .total{
        padding: 0;
        min-width: 300px;
        max-width: 500px;
    }
    img{
        display: none;
    }
    .footer{
        width: 60%;
        margin: 100px;
    }
}

@media (min-width:768px) and (max-width:991px){
    .head-off{
        min-width: 768px;
    }
    .container{
        margin-left: -10px;
    }
    .total{

        width: 768px;
    }
    img{
        margin-top: 150px;
        width: 37%;
        height: 10%;
    }
    .footer{
        margin: 200px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    body{
        width: 100%;
    }
    .head-off{
        min-width: auto;
    }
    .total{
        width: 900px;
    }
    img{
        margin-top: 80px;
        width: 30%;
        height: 5%;
    }
    .footer{
        width: 50%;
        margin: 400px;
    }
}



@media (min-width:1200px) and (max-width:1919px){
    .total{
        width: 1000px;
    }
    img{
        margin-top: 60px;
        width: 45%;
        height: 5%;
    }
}